<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/senacbet.css">

    <title>Contato</title>
</head>
<body>
    <div th:include="/commons/menu.html"></div>

    <div class="container mt-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/naruto.png" height="415px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/naruto2.png" height="415px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/naruto3.png" height="415px" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/naruto.png" height="415px" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="row mt-5">
            <div class="col-sm-3 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="img/naruto5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Naruto</h5>
                        <p class="card-text">História de Naruto refere-se à cronologia de eventos que transcorrem no mundo ficcional onde se situa Naruto,
                            uma série de mangá criada por Masashi Kishimoto e serializada na revista semanal Weekly Shōnen Jump desde 2015.
                            A série se passa em um mundo em que ninjas podem usar o chakra para criar jutsus e realizar feitos super
                            humanos aumentando suas habilidades físicas com taijutsu, usando ninjutsu para controlar
                            os cinco elementos (fogo, vento, eletricidade, terra, água) ou Genjutsu para criar ilusões na mente de seu adversário</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="img/naruto2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Naruto</h5>
                        <p class="card-text">Esses ninjas se organizam e fundam Vilas Ocultas que recebem pedidos
                            de missões de outros habitantes, as cinco maiores e mais importantes dessas vilas possuem um Kage como líder,
                            que é o ninja mais forte e mais qualificado para o comando geral. Originalmente, os jutsus deveriam ser usados para pacificar o mundo,
                            que era dominado pelo caos e o ódio, mas alguns ninjas passaram a criar e aprender jutsus para benefício próprio e até mesmo para fazer o mal,
                            causando um desequilíbrio no mundo ninja. </p>

                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mx-auto">
                <div class="card" style="width: 18rem;">
                    <img src="img/naruto4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Naruto</h5>
                        <p class="card-text">A ambição e a busca pelo poder absoluto faz com que às vezes algumas vilas se desentendam e provoquem uma guerra entre si,
                            e alguns ninjas que desrespeitam as leis são expulsos e se tornam criminosos foragidos. Existem também os chamados Bijū, criaturas com um
                            imenso poder que para não causar a destruição, são seladas dentro de crianças recém-nascidas denominadas jinchuurikis,
                            os jinchuurikis que aprendem a controlar o poder de seu bijuu tornam-se extremamente poderosos e perigosos, até para si mesmos.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mx-auto">
                <div class="card" style="width: 18rem;">
                <img src="img/naruto3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Naruto</h5>
                    <p class="card-text">A história principal da série segue Naruto Uzumaki e seus amigos, Sasuke Uchiha e Sakura Haruno,
                        que juntos formam um time de três pessoas nomeado Time 7 e liderado por Kakashi Hatake. Como todos os times ninjas de todas as Vilas Ocultas,
                        o Time 7 é encarregado de completar diversos pedidos de missões que chegam na vila. Com o tempo Naruto descobre que possui um dos nove bijuus
                        selado dentro de seu corpo, a chamada Kyuubi, treina e adquire novas habilidades, faz novos companheiros,
                        perde amigos, e encontra os mais perigosos ninjas, procurados por todas as vilas, como Orochimaru e a Akatsuki. </p>

                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>